.cards {
    display: flex;
    width: 800px;
    height: 500px;
    justify-content: space-around;
    align-items: center;
    row-gap: 40px;
    font-family: "Calibri Light", sans-serif ;
    position: absolute;

}
.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 80px;
    position: absolute;
}
.icon {
    display: flex;
    background: white ;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border-style: solid;
    border-width: 3px ;
    border-color: pink;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 50px;
    z-index: 1;
}
i {
    color: pink;
    font-size: 30px;

}
.card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background: azure;
    box-sizing: border-box;
    width: 250px;
    height: 300px;
    padding: 40px;
    border-radius: 30px;
    border-style: dashed;
    border-width: 3px ;
    border-color: pink;
}

.name{
    font-size: 18px;
    color: coral;
    text-align: center;
}
.text{
    font-size: 16px;
    color: coral;
    text-align: center;
}

a {
    font-size: 18px;
    color: hotpink ;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-width: 2px ;
    border-color: hotpink;
    padding: 15px;
}
